@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


nav{
    height: 10vh;
    background: rgb(255, 255, 255);
  
  overflow:hidden;
  display: flex;
  z-index: 10;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
    font-family:  sans-serif;

}
.water {
    width: 43px; 
}







/* Flex Blog */

.water-img {
    display: none;
}
nav{
    height: 10vh;
    background: rgb(255, 255, 255);
    position: relative;
    margin: auto;
}



.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: fixed;
    background: #0576ff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
   clip-path: circle(50px at 90% -10%);
   -webkit-clip-path: circle(50px at 90% -10%);
   transition: all 1s ease-out;
   pointer-events: none;
   left: -0px;
}
.nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
}
.nav-links li {
    opacity: 1;
}
.nav-links li a {
    font-size: 25px;
}
.nav-links li:nth-child(1) {
    transition: all 0.5s ease .2s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease .4s;
}
.nav-links li:nth-child(3) {
    transition: all 0.5s ease .6s;
}
li .fade {
    opacity: 0;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;

}
.hamburger {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 10;
}

.left img {
    width: auto;
    height: 50px;
}
.right img {
    width: auto;
    height: 50px;
}



/* Main */

article {
    margin-top: 19px;
}

.container {
    max-width: 329px;
    margin: auto;
}

header {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;

}

header > * {
  margin: 5px;
}
.author {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 147.69%;
    color: #06B3FF;
}
.title {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 149.69%;
}

time {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 147.69%;
    color: #272727;
}

.main-img {
    margin:25px 0px;
    width: 100vw;
}
.main-img-container {
    width: 100%;
    display: none;
}
.hook {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 147.69%;
    /* or 18px */


    color: #3C3C3C;
    margin-bottom: 20px;
}
hr {
    border: 0.5px solid #000000;
}
main p:first-child {
    margin: 20px 0px 13px 0px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 147.69%;
    /* or 18px */


    color: #000000;

}
.article {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 147.69%;
    /* or 18px */


    color: #3D3D3D;
    margin-bottom: 30px;

}
footer h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 147.69%;
    /* or 19px */

    text-align: center;

    color: #000000;
    margin-top: 30px;
}
.images {
    display: flex;
}
.images img {
    margin: auto;
}
footer {
    display: flex;
    flex-direction: column;
}
footer > * {
    margin: 20px 0px;
}
footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 147.69%;
    /* or 18px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    text-align: center;
    align-self: center;

}

.sidebar {
    display: none;
}
.main-img-container-crop {
    display: none;
}
.profile {
    display: none;
}
.title-desktop {
    display: none;
}

.active-nav-link {
    text-decoration: underline;
}

.small {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 147.69%;
    /* or 21px */


    color: #A0A0A0;
}



.right h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 147.69%;
    /* or 71px */

    display: flex;
    align-items: center;

    color: #000000;

}
.description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 147.69%;
    /* or 27px */

    display: flex;
    align-items: center;

    color: #505050;
    width: 432px;
    
}

.bottom-left {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 147.69%;
    /* or 21px */


    color: #ff0000;

}


/* MEDIA QUERIES */

.title-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 62px;
}
.title-container img {
    margin: auto;
}

.blog-list {
    position: relative;
  text-align: center;
  color: white;
}
.blog-list img {
    margin-bottom: 26px;
    max-width:100%;
    max-height:100%;
}

.bottom-left {
    position: absolute;
    bottom: 60px;
    left: 16px;
    width: 214px;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 147.69%;
    /* or 21px */


    color: #FFFFFF;

  }
.right {
    flex: 1;
}

.title-container h1 {
    align-self: center;
    transition: box-shadow 1s;
}

.blog-list img:hover {
    background: url(60108d236dfa38371d0f1d47_6002086f72b727d03801d1db_blog-image.jpg);
    box-shadow: inset 0px 4px 66px -16px #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width:481px) {
    .main-img {
        display: none;
    }
    .main-img-container {
        width: 100%;
        display: block;
    }
    .container {
        max-width: 400px;
    }
}
@media (min-width:769px) {
    .sidebar {
        display: block;
    }
    .main-img {
        display: none;
    }
    .main-img-container {
        width: 100%;
        display: block;
    }
    .container {
        max-width: 400px;
    }
    .sidebar-holder {
        display: flex;
    }
    .sidebar {
        width: 276px;
        border-right: 1px solid black;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    .container {
        flex: 1;
    }
    header {
        display: none;
    }
    nav {
        display: none;
    }
    article {
        margin-top: 0px;
    }
    .main-img-container {
        margin-top: 44px;
        margin-bottom: 83px;
    }
    .sidebar h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 147.69%;
        color: #000000;
        
    }
    .logo {
        margin-top: 30px;
        display: flex;
        margin-bottom: 55px;
        position: sticky;
        top: 0px;
    }
    .logo img {
        width: 32px;
        margin-right: 12px;
    }
    ul {
        list-style-type: none;
        
    }
    ul li a {
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 147.69%;
        /* or 27px */


        color: #000000;
    }
    ul li {
        margin-bottom: 50px;
    }
    .hr {
        border: 0.5px solid #E3E3E3;
        width: 181px;
    }
    .blue-btn {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 147.69%;
        /* or 27px */

        display: flex;
        align-items: center;

        color: #FFFFFF;

        background-color: #09B8FF;
        color: white;

        padding: 11px 36px;
        margin-top: 40px;
    }
    .sidebar {
      padding-left: 50px;
    }
    .contact-logos {
        width: 178px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
    }
    .container {
        max-width: 1250px;
        padding: 0px 110px;
    }
    .main-profile { 
        display: flex;
    }

    .main-article-desktop {
       
    }
    .main-img-container-crop {
        display: block;
        flex: 1;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .container {
    }
    .desktop-author {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 147.69%;
        /* or 40px */

        text-align: center;

        color: #272727;

    }
    .profile {
        display: flex;
        flex-direction: column;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 147.69%;
        /* or 35px */

        text-align: center;

        color: #272727;
        margin: 0;
    }
    .profile time {
        text-align: center;
        margin-bottom: 83px;
    }
    .share {
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 147.69%;
        /* identical to box height, or 27px */

        display: flex;
        align-items: center;

        color: #272727;

    }
    .profile-social {
        margin-top: 10px;
    }
    .hold {
        margin-top: 43px;
    }
    .sticky {
        position: sticky;
        top: 0;
    }
    .main-profile {
        margin-top: 75px;
    }
    .title-desktop {
        font-size: 50px;
        margin-bottom:30px;
        display: inline-block;
    }
    .hook {
        font-size: 24px;
        
    }

    main p:first-child {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 147.69%;
        /* or 35px */


        color: #000000;

    }
    .article {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 147.69%;
        /* or 35px */


        color: #3D3D3D;
    }
    .hold {
        margin: auto;
    }
    hr .container {

    }

    .right {
        margin-left: 30px;
    }
    .bottom-left {
        position: absolute;
        bottom: 60px;
        left: 16px;
        width: 214px;
        text-align: left;
    
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 147.69%;
        /* or 21px */
        width: 400px;
    
        color: #FFFFFF;
    
      }
}