* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 1.4rem;
}
/* Nav  */
.wrapper {
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
}
.hamburger-icon {
    display: block;
    margin: auto;
    fill: white;
}
.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

nav{
    height: 10vh;
    background: rgb(255, 255, 255);
    box-shadow:
    0 1.7px 2.2px -10px rgba(0, 0, 0, 0.062),
    0 4px 5.3px -10px rgba(0, 0, 0, 0.089),
    0 7.5px 10px -10px rgba(0, 0, 0, 0.11),
    0 13.4px 17.9px -10px rgba(0, 0, 0, 0.131),
    0 25.1px 33.4px -10px rgba(0, 0, 0, 0.158),
    0 60px 80px -10px rgba(0, 0, 0, 0.22)
  ;
  overflow:hidden;
  display: flex;
  z-index: 10;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;

}
.water {
    width: 43px; 
    margin-left: 15px;
}

/* Landing  */
.catch {
    display: flex;
}
.catch h1{
    text-shadow: 1px 2px 15px rgba(0,0,0,.5);
}
.phone {
    height: 160px;
}
.main-text {
    margin-top: 25px;
}
.blue {
    color: #0576ff
}
.bold-big {
    font-weight: 700;

}
#smaller {
    max-width: 95%;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.button2 {
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px .5em .1em .5em;
    padding: 1em 1.4em 1em 1.4em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    z-index: 2;
    box-shadow:
    0 1.7px 2.2px -10px rgba(0, 0, 0, 0.062),
    0 4px 5.3px -10px rgba(0, 0, 0, 0.089),
    0 7.5px 10px -10px rgba(0, 0, 0, 0.11),
    0 13.4px 17.9px -10px rgba(0, 0, 0, 0.131),
    0 25.1px 33.4px -10px rgba(0, 0, 0, 0.158),
    0 60px 80px -10px rgba(0, 0, 0, 0.22)
  ;
  }
  .b-blue, .b-blue:before {
    background: rgba(5,118,255,1);
    background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
}
.rot-135:hover {
filter: hue-rotate(135deg);
cursor: pointer;

}
.rot-135:active {
filter: hue-rotate(0deg);
}


.btn {
    background: rgba(5,118,255,1);
    background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );

    display: inline-block;
    font-size: 1.2rem;
    margin: 20px .5em .1em .5em;
    padding: 1em 1.4em 1em 1.4em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    z-index: 2;
    box-shadow:
    0 1.7px 2.2px -10px rgba(0, 0, 0, 0.062),
    0 4px 5.3px -10px rgba(0, 0, 0, 0.089),
    0 7.5px 10px -10px rgba(0, 0, 0, 0.11),
    0 13.4px 17.9px -10px rgba(0, 0, 0, 0.131),
    0 25.1px 33.4px -10px rgba(0, 0, 0, 0.158),
    0 60px 80px -10px rgba(0, 0, 0, 0.22)
  ;
}
.btn:disabled {
    background-color:red ;
}

.holder {
    display: block;
    position: absolute;
    right:65%;
    bottom: 15%;
}
#more {
    filter: hue-rotate(135deg);
}

.ldBar {
    color: black;
    font-weight: 700;
}
  .ldBar path.mainline {
    stroke-width: 10;
    stroke: #09f;
    stroke-linecap: round;
  }
  .ldBar path.baseline {
    stroke-width: 14;
    stroke: #f1f2f3;
    stroke-linecap: round;
    filter:url(#custom-shadow);
  }


/* Media  */
@media (max-width:950px) {
    .water-img {
        display: none;
    }
    nav{
        height: 10vh;
        background: rgb(255, 255, 255);
        position: relative;
    }
    
    .line {
        width: 30px;
        height: 3px;
        background: rgb(255, 255, 255);
        margin: 5px;
    }
    
    .nav-links {
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        position: fixed;
        background: #0576ff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
       clip-path: circle(50px at 90% -10%);
       -webkit-clip-path: circle(50px at 90% -10%);
       transition: all 1s ease-out;
       pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease .2s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease .4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease .6s;
    }
    li .fade {
        opacity: 0;
    }
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
    
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 15px;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
        background: rgba(5,118,255,1);
        background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
        background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
        background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
        background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
        
        padding: 6px;
        border-radius: 6px;
    }

}